


.input{
    border-radius: 10px;
    border: 1px solid #D7D7D7;
    background: #FFF;
    width: 100%;
    padding: 14px  13px 16px;
    color: #6E6E6E;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32.4px;
    font-family: Manrope, sans-serif;
}